.dashboard
  %header
    %h2 Dashboard
  %section
    %article
      %header
        %h3 The Cold War
      %p Exploring the end of the Cold War. Includes Ronald Reagan, Margaret Thatcher, and Mikhail Gorbachev.
    %article
      %header
        %h3 The Cold War