= render :partial => "projects/header", locals: { project: current_project, section: :notes }
.content
  %header.content-header
    %h3 Notes

    %nav
      = link_to "New", current_project.path("/notes/new"), class: "btn"

  .elements
    %aside.nav.col-5.suffix-1
      %section
        %form
          %input{type: 'text', placeholder: 'Search...'}

      %section
        %header
          %h4 Filter
        %ul.tags.filter
          - @notes.tags_with_weight.each do |tag|
            %li.tag{'data-value' => tag[0], 'data-selected' => false}
              %a{href: "#"}
                %span.name= tag[0]
    .col-18.omega.notes
      - @notes.sort('updated_at desc').each do |note|
        = render :partial => "notes/note", object: note
