%section
  - form_tag url(:notes, :update), :method => "patch", :class => "note" do
    = hidden_field_tag :id, :value => @note.id
    = hidden_field_tag :author, :value => current_user.id
    %header
      = text_field_tag :"note[title]", :value => @note.title, :placeholder => "Title"
    = text_area_tag :"note[body]", :value => @note.body, :placeholder => "Begin writing your note here..."
    %footer
      %p
        %a.btn.orange{:href => ""} Cancel
        %button.primary{:type => "submit"} Save