/*
	Noted.
		file: css/application.css
*/
/* line 17, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
	= Appendix
		I. Media Queries
		II.
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* Handheld devices. */ }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 4 */ }
/*
	II. Universal
*/
/* line 35, ../../app/assets/css/application.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 41, ../../app/assets/css/application.scss */
body {
  background: #fefefe;
  color: #444444;
  font: 200 16px/1.75em ff-meta-serif-web-pro, Georgia, Times, serif; }

/* line 47, ../../app/assets/css/application.scss */
a {
  color: #e37474;
  text-decoration: none; }

/* line 52, ../../app/assets/css/application.scss */
a.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #aaa;
  color: #fefefe;
  font-family: "franklin-gothic-urw", adelle-sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 0.5em 1em; }
  /* line 61, ../../app/assets/css/application.scss */
  a.btn:hover {
    background: #b7b7b7; }
  /* line 65, ../../app/assets/css/application.scss */
  a.btn.large {
    font-size: 1.15em; }
  /* line 69, ../../app/assets/css/application.scss */
  a.btn.primary {
    background: #63a9db; }
    /* line 72, ../../app/assets/css/application.scss */
    a.btn.primary:hover {
      background: #6fb0de; }

/* line 78, ../../app/assets/css/application.scss */
h1 {
  font-size: 1.15em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* line 85, ../../app/assets/css/application.scss */
h2, h3, h4, h5, h6 {
  font-family: "franklin-gothic-urw", adelle-sans, Helvetica Neue, Helvetica, Arial, sans-serif; }

/* line 89, ../../app/assets/css/application.scss */
h2 {
  color: #777777;
  font-size: 1.75em;
  font-weight: bold; }

/* line 95, ../../app/assets/css/application.scss */
img {
  max-width: 100%; }

/* line 99, ../../app/assets/css/application.scss */
#contain {
  min-height: 100%;
  position: relative; }

/*
	III. Header
*/
/* line 109, ../../app/assets/css/application.scss */
#contain > header {
  background: #e37474;
  border-bottom: 1px solid #df5f5f; }
  /* line 113, ../../app/assets/css/application.scss */
  #contain > header > section {
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #contain > header > section:after {
      content: "";
      display: table;
      clear: both; }
  /* line 119, ../../app/assets/css/application.scss */
  #contain > header hgroup {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%;
    display: inline; }
    /* line 123, ../../app/assets/css/application.scss */
    #contain > header hgroup h1 a {
      color: #fff; }
      /* line 126, ../../app/assets/css/application.scss */
      #contain > header hgroup h1 a:hover {
        color: #f2f2f2; }
  /* line 133, ../../app/assets/css/application.scss */
  #contain > header nav {
    font: 200 0.85em ff-meta-serif-web-pro, Georgia, Times, serif; }
    /* line 136, ../../app/assets/css/application.scss */
    #contain > header nav a {
      color: #fefefe; }
      /* line 139, ../../app/assets/css/application.scss */
      #contain > header nav a:hover {
        color: #f1f1f1; }
    /* line 144, ../../app/assets/css/application.scss */
    #contain > header nav section {
      width: 49.57983%;
      float: left;
      margin-right: 0.84034%;
      display: inline; }
      /* line 147, ../../app/assets/css/application.scss */
      #contain > header nav section:last-child {
        width: 24.36975%;
        float: right;
        margin-right: 0;
        #margin-left: -0.5em;
        display: inline; }
        /* line 150, ../../app/assets/css/application.scss */
        #contain > header nav section:last-child ul {
          float: right; }
      /* line 155, ../../app/assets/css/application.scss */
      #contain > header nav section li {
        display: inline-block;
        position: relative;
        top: 5px; }
        /* line 160, ../../app/assets/css/application.scss */
        #contain > header nav section li + li {
          margin-left: 2em; }

/*
	IV. Main
*/
/* line 173, ../../app/assets/css/application.scss */
#main {
  padding: 4em 0; }
  /* line 176, ../../app/assets/css/application.scss */
  #main .hero {
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5em 0 3em; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #main .hero:after {
      content: "";
      display: table;
      clear: both; }
    /* line 181, ../../app/assets/css/application.scss */
    #main .hero header {
      overflow: hidden;
      *zoom: 1;
      margin-bottom: 3em; }
      /* line 186, ../../app/assets/css/application.scss */
      #main .hero header h2 {
        margin-bottom: 0.5em; }
      /* line 190, ../../app/assets/css/application.scss */
      #main .hero header p {
        width: 74.78992%;
        float: right;
        margin-right: 0;
        #margin-left: -0.5em;
        display: inline;
        padding-right: 25.21008%;
        color: #aaa;
        font-weight: 300;
        font-size: 1.15em; }

/*
	V. Footer
*/
/* line 207, ../../app/assets/css/application.scss */
#contain > footer {
  background: #eceef1;
  border-top: 1px solid #e0e0e0;
  bottom: 0;
  color: #a0a0a0;
  height: 8em;
  position: absolute;
  width: 100%; }
  /* line 216, ../../app/assets/css/application.scss */
  #contain > footer section {
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 0;
    text-align: center; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #contain > footer section:after {
      content: "";
      display: table;
      clear: both; }
