/*
	Noted.
		file: css/application.scss
*/
/*
	Noted.
		file: css/lib/_base.scss
*/
/* line 17, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
	Noted.
		file: css/lib/includes/_grid.scss
*/
/*
	Noted.
		file: css/lib/includes/_colors.scss
*/
/*
	Noted.
		file: css/lib/includes/_fonts.scss
*/
/*
	Noted.
		file: css/lib/modules/_buttons.scss
*/
/* line 6, ../../app/assets/css/lib/modules/_buttons.scss */
a.btn, button, input[type="submit"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #b1b9c6;
  border: none;
  color: #fefefe;
  cursor: pointer;
  display: inline-block;
  font: bold 0.85em "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  text-shadow: none; }
  /* line 19, ../../app/assets/css/lib/modules/_buttons.scss */
  a.btn:hover, button:hover, input[type="submit"]:hover {
    background: #a3acbb;
    color: #fefefe; }
  /* line 24, ../../app/assets/css/lib/modules/_buttons.scss */
  a.btn.primary, button.primary, input[type="submit"].primary {
    background: #63a9db; }
    /* line 27, ../../app/assets/css/lib/modules/_buttons.scss */
    a.btn.primary:hover, button.primary:hover, input[type="submit"].primary:hover {
      background: #4e9ed6; }
  /* line 32, ../../app/assets/css/lib/modules/_buttons.scss */
  a.btn.aqua, button.aqua, input[type="submit"].aqua {
    background: #48dcbc; }
    /* line 35, ../../app/assets/css/lib/modules/_buttons.scss */
    a.btn.aqua:hover, button.aqua:hover, input[type="submit"].aqua:hover {
      background: #33d8b4; }
  /* line 40, ../../app/assets/css/lib/modules/_buttons.scss */
  a.btn.orange, button.orange, input[type="submit"].orange {
    background: #ebb845; }
    /* line 43, ../../app/assets/css/lib/modules/_buttons.scss */
    a.btn.orange:hover, button.orange:hover, input[type="submit"].orange:hover {
      background: #e9af2e; }
  /* line 48, ../../app/assets/css/lib/modules/_buttons.scss */
  a.btn.large, button.large, input[type="submit"].large {
    font-size: 1em; }

/*
	Noted.
		file: css/lib/modules/_forms.scss
*/
/* line 7, ../../app/assets/css/lib/modules/_forms.scss */
form input, form textarea {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  color: #444444;
  font: 1em/1em "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
  outline: none;
  padding: 0.5em; }
/* line 17, ../../app/assets/css/lib/modules/_forms.scss */
form input[type=text], form input[type=email], form input[type=password], form textarea {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #eceef1; }
  /* line 22, ../../app/assets/css/lib/modules/_forms.scss */
  form input[type=text]:focus, form input[type=email]:focus, form input[type=password]:focus, form textarea:focus {
    border: 2px solid #cfd4db; }

/*
	Noted.
		file: css/lib/modules/_flash.scss
*/
/* line 6, ../../app/assets/css/lib/modules/_flash.scss */
.flash {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
  padding: 0.75em;
  width: 50%; }
  /* line 14, ../../app/assets/css/lib/modules/_flash.scss */
  .flash.error {
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    color: #b14454; }
  /* line 20, ../../app/assets/css/lib/modules/_flash.scss */
  .flash.notice {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #6da43f; }
  /* line 26, ../../app/assets/css/lib/modules/_flash.scss */
  .flash.warning {
    background: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #e9a31b; }

/*
	Noted.
		file: css/pages/_index.scss
*/
/* line 7, ../../app/assets/css/lib/pages/_index.scss */
#index .hero {
  background: #d24130;
  color: #fefefe;
  padding: 4em 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(193, 50, 33, 0.5); }
  /* line 14, ../../app/assets/css/lib/pages/_index.scss */
  #index .hero header {
    margin-bottom: 2em; }
    /* line 17, ../../app/assets/css/lib/pages/_index.scss */
    #index .hero header h2 {
      margin-bottom: 0.75em; }
  /* line 22, ../../app/assets/css/lib/pages/_index.scss */
  #index .hero .inner {
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #index .hero .inner:after {
      content: "";
      display: table;
      clear: both; }
/* line 28, ../../app/assets/css/lib/pages/_index.scss */
#index .information h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em; }
/* line 33, ../../app/assets/css/lib/pages/_index.scss */
#index .information header {
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #eceef1;
  margin-bottom: 4em;
  padding-bottom: 4em;
  text-align: center; }
  /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #index .information header:after {
    content: "";
    display: table;
    clear: both; }
/* line 42, ../../app/assets/css/lib/pages/_index.scss */
#index .information section {
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #index .information section:after {
    content: "";
    display: table;
    clear: both; }
  /* line 45, ../../app/assets/css/lib/pages/_index.scss */
  #index .information section .paragraph {
    width: 70.58824%;
    float: left;
    margin-right: 0.84034%;
    display: inline; }
  /* line 49, ../../app/assets/css/lib/pages/_index.scss */
  #index .information section aside {
    width: 24.36975%;
    float: right;
    margin-right: 0;
    #margin-left: -0.5em;
    display: inline; }
    /* line 52, ../../app/assets/css/lib/pages/_index.scss */
    #index .information section aside a {
      font-size: 1.25em;
      padding-bottom: 0.85em;
      padding-top: 0.85em;
      text-align: center;
      width: 100%;
      vertical-align: center; }

/*
	Noted.
		file: css/pages/_user.scss
*/
/* line 7, ../../app/assets/css/lib/pages/_user.scss */
#user > header {
  background: #fffde3;
  margin-bottom: 4em;
  padding: 1.5em; }
  /* line 12, ../../app/assets/css/lib/pages/_user.scss */
  #user > header .inner {
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #user > header .inner:after {
      content: "";
      display: table;
      clear: both; }
  /* line 16, ../../app/assets/css/lib/pages/_user.scss */
  #user > header section {
    width: 87.39496%;
    float: left;
    margin-right: 0.84034%;
    display: inline; }
    /* line 19, ../../app/assets/css/lib/pages/_user.scss */
    #user > header section figure {
      width: 13.46154%;
      float: left;
      margin-right: 0.96154%;
      display: inline;
      padding-right: 4.80769%; }
      /* line 23, ../../app/assets/css/lib/pages/_user.scss */
      #user > header section figure img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
    /* line 28, ../../app/assets/css/lib/pages/_user.scss */
    #user > header section hgroup {
      width: 80.76923%;
      float: right;
      margin-right: 0;
      #margin-left: -0.5em;
      display: inline;
      margin-top: 1em; }
      /* line 33, ../../app/assets/css/lib/pages/_user.scss */
      #user > header section hgroup h2 {
        font-size: 1.5em;
        margin-bottom: 0.25em; }
  /* line 43, ../../app/assets/css/lib/pages/_user.scss */
  #user > header aside {
    width: 11.76471%;
    float: right;
    margin-right: 0;
    #margin-left: -0.5em;
    display: inline;
    margin-top: 1.25em; }
    /* line 48, ../../app/assets/css/lib/pages/_user.scss */
    #user > header aside a {
      float: right; }
/* line 55, ../../app/assets/css/lib/pages/_user.scss */
#user > section header {
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }
  /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #user > section header:after {
    content: "";
    display: table;
    clear: both; }
  /* line 60, ../../app/assets/css/lib/pages/_user.scss */
  #user > section header hgroup {
    width: 49.57983%;
    float: left;
    margin-right: 0.84034%;
    display: inline; }
  /* line 64, ../../app/assets/css/lib/pages/_user.scss */
  #user > section header aside {
    width: 49.57983%;
    float: right;
    margin-right: 0;
    #margin-left: -0.5em;
    display: inline;
    position: relative;
    bottom: 0.5em;
    text-align: right; }
/* line 73, ../../app/assets/css/lib/pages/_user.scss */
#user > section article {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background: #f5f6f7;
  padding: 0; }
  /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #user > section article:after {
    content: "";
    display: table;
    clear: both; }
  /* line 80, ../../app/assets/css/lib/pages/_user.scss */
  #user > section article + article {
    margin-top: 1em; }
  /* line 84, ../../app/assets/css/lib/pages/_user.scss */
  #user > section article header, #user > section article section {
    padding: 2em; }
  /* line 88, ../../app/assets/css/lib/pages/_user.scss */
  #user > section article header {
    border-bottom: 1px solid #fefefe; }
    /* line 91, ../../app/assets/css/lib/pages/_user.scss */
    #user > section article header p {
      font-style: italic;
      margin-top: 0.25em; }
      /* line 95, ../../app/assets/css/lib/pages/_user.scss */
      #user > section article header p a {
        font-style: normal; }

/*
	Noted.
		file: css/pages/_join.scss
*/
/* line 6, ../../app/assets/css/lib/pages/_join.scss */
#join {
  margin-top: 3em;
  text-align: center; }
  /* line 10, ../../app/assets/css/lib/pages/_join.scss */
  #join header {
    margin-bottom: 2em; }
    /* line 13, ../../app/assets/css/lib/pages/_join.scss */
    #join header h2 {
      margin-bottom: 0.5em; }
  /* line 20, ../../app/assets/css/lib/pages/_join.scss */
  #join section input[type=text], #join section input[type=email], #join section input[type=password] {
    width: 35%; }
  /* line 25, ../../app/assets/css/lib/pages/_join.scss */
  #join section footer {
    margin-top: 1em; }
  /* line 30, ../../app/assets/css/lib/pages/_join.scss */
  #join .flash {
    margin: 0 auto 1em; }

/*
	Noted.
		file: css/lib/pages/_new-project.scss
*/
/* line 6, ../../app/assets/css/lib/pages/_new-project.scss */
#new-project {
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin: 4em auto; }
  /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #new-project:after {
    content: "";
    display: table;
    clear: both; }
  /* line 12, ../../app/assets/css/lib/pages/_new-project.scss */
  #new-project header h2 {
    margin-bottom: 1rem; }
  /* line 17, ../../app/assets/css/lib/pages/_new-project.scss */
  #new-project input[type=text] {
    margin-bottom: 0.5em;
    width: 45%; }
  /* line 22, ../../app/assets/css/lib/pages/_new-project.scss */
  #new-project textarea {
    height: 6rem;
    width: 65%; }
  /* line 27, ../../app/assets/css/lib/pages/_new-project.scss */
  #new-project footer {
    margin-top: 0.5em; }

/*
	= Appendix
		I. Universal
*/
/*
	I. Universal
*/
/* line 18, ../../app/assets/css/application.scss */
body {
  background: #fefefe;
  color: #444444;
  font: 300 16px/1.5em "utopia-std", ff-meta-serif-web-pro, adelle, Georgia, Times New Roman, serif; }

/* line 24, ../../app/assets/css/application.scss */
a {
  color: #dd4a38;
  text-decoration: none; }
  /* line 28, ../../app/assets/css/application.scss */
  a:hover {
    color: #aa3325; }

/* line 33, ../../app/assets/css/application.scss */
em {
  font-style: italic; }

/* line 37, ../../app/assets/css/application.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

/* line 43, ../../app/assets/css/application.scss */
h1 {
  font-size: 1.25em;
  text-shadow: 0 2px 0 rgba(193, 50, 33, 0.5);
  text-transform: none; }

/* line 49, ../../app/assets/css/application.scss */
h2 {
  font-size: 2em;
  line-height: 1em;
  letter-spacing: 1px; }

/* line 55, ../../app/assets/css/application.scss */
h3 {
  font-size: 1.35em;
  text-transform: none; }

/* line 60, ../../app/assets/css/application.scss */
img {
  max-width: 100%; }

/* line 64, ../../app/assets/css/application.scss */
strong {
  font-weight: 600; }

/* line 68, ../../app/assets/css/application.scss */
.contain {
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .contain:after {
    content: "";
    display: table;
    clear: both; }

/*
	II. Header
*/
/* line 77, ../../app/assets/css/application.scss */
body > header {
  background: #dd4a38; }
  /* line 80, ../../app/assets/css/application.scss */
  body > header a {
    color: #fbfbfc; }
    /* line 83, ../../app/assets/css/application.scss */
    body > header a:hover {
      color: #eceef1; }
  /* line 88, ../../app/assets/css/application.scss */
  body > header hgroup {
    width: 15.96639%;
    float: left;
    margin-right: 0.84034%;
    display: inline; }
  /* line 92, ../../app/assets/css/application.scss */
  body > header nav {
    font: 0.85em "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif; }
    /* line 95, ../../app/assets/css/application.scss */
    body > header nav li {
      text-shadow: 0 1px 0 rgba(193, 50, 33, 0.5); }
    /* line 100, ../../app/assets/css/application.scss */
    body > header nav section:first-child {
      width: 49.57983%;
      float: left;
      margin-right: 0.84034%;
      display: inline;
      margin-top: 0.35em; }
      /* line 105, ../../app/assets/css/application.scss */
      body > header nav section:first-child li {
        padding-right: 2em; }
    /* line 110, ../../app/assets/css/application.scss */
    body > header nav section:last-child {
      width: 32.77311%;
      float: right;
      margin-right: 0;
      #margin-left: -0.5em;
      display: inline; }
      /* line 113, ../../app/assets/css/application.scss */
      body > header nav section:last-child ul {
        float: right; }
        /* line 116, ../../app/assets/css/application.scss */
        body > header nav section:last-child ul li {
          padding-left: 0.75em; }
    /* line 122, ../../app/assets/css/application.scss */
    body > header nav section li {
      display: inline-block; }
  /* line 128, ../../app/assets/css/application.scss */
  body > header .contain {
    padding: 1.5em 0; }

/*
	III. Main
*/
/*
	IV. Footer
*/
/* line 147, ../../app/assets/css/application.scss */
body > footer {
  background: #eceef1;
  color: #b1b9c6;
  font: 0.85em "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 6em;
  padding: 4em 0;
  text-align: center; }
  /* line 155, ../../app/assets/css/application.scss */
  body > footer ul {
    margin-bottom: 1em; }
    /* line 158, ../../app/assets/css/application.scss */
    body > footer ul li {
      display: inline-block; }
      /* line 161, ../../app/assets/css/application.scss */
      body > footer ul li + li {
        padding-left: 1em; }
