/*
	Noted.
		file: css/application.css
*/
/* line 17, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*
	= Appendix
		I. Media Queries
		II.
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* Handheld devices. */ }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 4 */ }
/*
	II. Universal
*/
/* line 31, ../../app/assets/css/application.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 37, ../../app/assets/css/application.scss */
body {
  background: #fefefe;
  color: #444444;
  font: 200 16px/1.75em ff-meta-serif-web-pro, Georgia, Times, serif; }

/* line 43, ../../app/assets/css/application.scss */
a {
  color: #e37474;
  text-decoration: none; }

/* line 48, ../../app/assets/css/application.scss */
a.btn, button, input[type="submit"], input[type="button"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #aaa;
  border: none;
  color: #fefefe;
  cursor: pointer;
  font-family: "franklin-gothic-urw", adelle-sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: 0.5em 1em; }
  /* line 60, ../../app/assets/css/application.scss */
  a.btn:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background: #b7b7b7; }
  /* line 64, ../../app/assets/css/application.scss */
  a.btn.large, button.large, input[type="submit"].large, input[type="button"].large {
    font-size: 1.15em; }
  /* line 68, ../../app/assets/css/application.scss */
  a.btn.primary, button.primary, input[type="submit"].primary, input[type="button"].primary {
    background: #63a9db; }
    /* line 71, ../../app/assets/css/application.scss */
    a.btn.primary:hover, button.primary:hover, input[type="submit"].primary:hover, input[type="button"].primary:hover {
      background: #6fb0de; }
  /* line 76, ../../app/assets/css/application.scss */
  a.btn.green, button.green, input[type="submit"].green, input[type="button"].green {
    background: #77cf70; }
    /* line 79, ../../app/assets/css/application.scss */
    a.btn.green:hover, button.green:hover, input[type="submit"].green:hover, input[type="button"].green:hover {
      background: #82d37b; }

/* line 85, ../../app/assets/css/application.scss */
h1 {
  font-size: 1.15em;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0 2px 0 rgba(218, 74, 74, 0.5);
  text-transform: uppercase; }
  /* line 92, ../../app/assets/css/application.scss */
  h1 a {
    color: #fff; }
    /* line 95, ../../app/assets/css/application.scss */
    h1 a:hover {
      color: #f2f2f2; }

/* line 101, ../../app/assets/css/application.scss */
h2, h3, h4, h5, h6 {
  font-family: "franklin-gothic-urw", adelle-sans, Helvetica Neue, Helvetica, Arial, sans-serif; }

/* line 105, ../../app/assets/css/application.scss */
h2 {
  color: #777777;
  font-size: 1.75em;
  font-weight: bold; }

/* line 111, ../../app/assets/css/application.scss */
img {
  max-width: 100%; }

/* line 115, ../../app/assets/css/application.scss */
#contain {
  min-height: 100%;
  position: relative; }

/*
	III. Header
*/
/* line 125, ../../app/assets/css/application.scss */
#contain > header {
  background: #e37474;
  border-bottom: 1px solid #df5f5f; }
  /* line 129, ../../app/assets/css/application.scss */
  #contain > header > section {
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #contain > header > section:after {
      content: "";
      display: table;
      clear: both; }
  /* line 135, ../../app/assets/css/application.scss */
  #contain > header hgroup {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%;
    display: inline; }
  /* line 139, ../../app/assets/css/application.scss */
  #contain > header nav {
    font-size: 0.85em; }
    /* line 142, ../../app/assets/css/application.scss */
    #contain > header nav a {
      color: #fefefe; }
      /* line 145, ../../app/assets/css/application.scss */
      #contain > header nav a:hover {
        color: #f1f1f1; }
    /* line 150, ../../app/assets/css/application.scss */
    #contain > header nav section {
      width: 49.57983%;
      float: left;
      margin-right: 0.84034%;
      display: inline; }
      /* line 153, ../../app/assets/css/application.scss */
      #contain > header nav section:last-child {
        width: 24.36975%;
        float: right;
        margin-right: 0;
        #margin-left: -0.5em;
        display: inline; }
        /* line 156, ../../app/assets/css/application.scss */
        #contain > header nav section:last-child ul {
          float: right; }
      /* line 161, ../../app/assets/css/application.scss */
      #contain > header nav section li {
        display: inline-block; }
        /* line 164, ../../app/assets/css/application.scss */
        #contain > header nav section li + li {
          margin-left: 2em; }

/*
	IV. Main
*/
/* line 177, ../../app/assets/css/application.scss */
#main {
  margin-top: 3em;
  padding-bottom: 5em; }
  /* line 181, ../../app/assets/css/application.scss */
  #main .hero {
    /* / */
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5em 0 3em; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #main .hero:after {
      content: "";
      display: table;
      clear: both; }
    /* line 186, ../../app/assets/css/application.scss */
    #main .hero header {
      overflow: hidden;
      *zoom: 1;
      margin-bottom: 3em; }
      /* line 191, ../../app/assets/css/application.scss */
      #main .hero header h2 {
        margin-bottom: 0.5em; }
      /* line 195, ../../app/assets/css/application.scss */
      #main .hero header p {
        width: 74.78992%;
        float: right;
        margin-right: 0;
        #margin-left: -0.5em;
        display: inline;
        padding-right: 25.21008%;
        color: #aaa;
        font-weight: 300;
        font-size: 1.15em; }
  /* line 206, ../../app/assets/css/application.scss */
  #main .user {
    /* /:user */
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #main .user:after {
      content: "";
      display: table;
      clear: both; }
    /* line 209, ../../app/assets/css/application.scss */
    #main .user > aside {
      width: 20.16807%;
      float: left;
      margin-right: 0.84034%;
      display: inline;
      padding-right: 4.20168%; }
      /* line 213, ../../app/assets/css/application.scss */
      #main .user > aside header {
        overflow: hidden;
        *zoom: 1; }
        /* line 216, ../../app/assets/css/application.scss */
        #main .user > aside header h2 {
          font-size: 1.5em; }
      /* line 221, ../../app/assets/css/application.scss */
      #main .user > aside section {
        border-top: 1px solid #efefef;
        font-size: 0.85em;
        margin-top: 1em;
        padding-top: 1em; }
    /* line 229, ../../app/assets/css/application.scss */
    #main .user > section {
      width: 74.78992%;
      float: right;
      margin-right: 0;
      #margin-left: -0.5em;
      display: inline; }
      /* line 232, ../../app/assets/css/application.scss */
      #main .user > section h3 {
        font-weight: bold;
        font-size: 1.15em; }
  /* line 239, ../../app/assets/css/application.scss */
  #main .join {
    /* /join */
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #main .join:after {
      content: "";
      display: table;
      clear: both; }
  /* line 247, ../../app/assets/css/application.scss */
  #main .login {
    text-align: center; }

/*
	V. Footer
*/
/* line 257, ../../app/assets/css/application.scss */
#contain > footer {
  background: #eceef1;
  border-top: 1px solid #e0e0e0;
  bottom: 0;
  color: #a0a0a0;
  height: 8em;
  position: absolute;
  width: 100%; }
  /* line 266, ../../app/assets/css/application.scss */
  #contain > footer section {
    *zoom: 1;
    max-width: 59.5em;
    _width: 59.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 0;
    text-align: center; }
    /* line 38, ../../../../../../home/ethan/.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    #contain > footer section:after {
      content: "";
      display: table;
      clear: both; }
