%nav
  - if current_user
    %section
      %ul
        %li
          %a{:href => url(:explore)} Explore
        %li
          %a{:href => url(:features)} Blog
        %li
          %a{:href => url(:support)} Help
    %section
      %ul
        %li
          %a.btn{:href => url(:users, :edit)}= current_user.name
        %li
          %a.btn.orange{:href => url(:sessions, :destroy)} Logout
  - else
    %section
      %ul
        %li
          %a{:href => url(:explore)} Explore
        %li
          %a{:href => url(:features)} Features
        %li
          %a{:href => url(:support)} Pricing
    %section
      %ul
        %li
          %a.btn.primary{:href => url(:users, :new)} Join
        %li
          %a.btn{:href => url(:sessions, :new)} Login
