#user
  %aside
    %header
      %figure
        %img{:alt => "", :src => @user.gravatar}
      %h2= @user.name
      %hgroup
        %ul
          - if @user.staff?
            %li
              %i.ss-icon star
              %strong Staff
          - if !@user.location.blank?
            %li
              %i.ss-icon location
              = @user.location
          - if !@user.website.blank?
            %li
              %i.ss-icon globe
              %a{:href => @user.website, :target => "_blank"}= format(:url, @user.website)
    %footer
      - if @user == current_user
        %a.btn{:href => url(:users, :edit)}
          %i.ss-icon gear
          %span
            Profile
  = @projects
