%header
  .inner
    %hgroup
      %h2
        %a{:href => project.url}= project.title
      %p= safe("<em>by</em> #{project.authors}")
    %aside
      - if current_user && project.updatable_by?(current_user)
        %p
          %a.btn.tooltip{:href => "#{project.url}/settings", :title => "Settings"}
            %i.ss-icon settings
