%header
  .inner
    %hgroup
      %h2
        %a{:href => project.url}= project.title
      %p
        %em by
        %a{:href => url(:users, :view, :user => project.creator.username)}= project.creator.name
        - project.collaborators.each do |c|
          ,
          %a{:href => url(:users, :view, :user => c.username)} c.name
    %aside
      - if current_user && project.updatable_by?(current_user)
        %p
          %a.btn.tooltip{:href => "#{project.url}/settings", :title => "Settings"}
            %i.ss-icon settings
