%header
  .inner
    %hgroup
      %h2
        %a{:href => project.url}= project.title
      %p
        %em by
        %a{:href => url(:users, :view, :user => project.creator.username)}= project.creator.name
        - project.collaborators.each do |c|
          ,
          %a{:href => url(:users, :view, :user => c.username)} c.name
    %aside
      %p
        %a.btn{:href => "#{project.url}/settings"}
          %i.ss-icon settings
