.content
  %header.content-header
    %h3 Projects

    %nav
      = link_to "New", new_path, class: "btn"

  .elements
    .col-24.omega
      - @projects.each do |project|
        %article
          = render :partial => 'projects/project', object: project
