.content
  %header.content-header.borderless
    %h3 Projects

    %nav
      = link_to "New", new_path, class: "btn"

  .elements
    .col-24.omega
      - cache @projects do
        - if @projects.empty?
          %p.empty No projects yet! <a href="/new">Why not make one?</a>
        - else
          - @projects.each do |project|
            - cache project do
              = render :partial => 'projects/project', object: project
