%header.container
  %h3 Projects
  = link_to "New", new_path, class: "btn"
%section.projects
  - current_user.projects.each do |project|
    %article.container
      = render :partial => 'projects/project', object: project
