#project
  %header
    %hgroup
      .inner
        %hgroup
          %h2= @project.title
          %p= @project.user.name
        %aside
          %a.btn{:href => url(:projects, :edit, :user => @user.username, :project => @project.permalink)}
            %i.ss-icon gear
    %hgroup
      .inner
        .inner-two
          = @project.description