#features
  %section.hero.centered
    %h2 Research together
    %p With Noted, conduct and organize your research efficiently and effectively.
    %nav
      %ul
        %li
          %a.btn.big{href: "#"} Explore
        %li
          = link_to "Join", "", class: "btn big green"
  %section.left
    %aside
      %figure
        %i.ss-icon cloud
    .content
      %h3 Keep your data secure
      %p All of your research is backed up automatically and kept encrypted on our servers. You and your collaborators are the only ones who can view your research.
  %section.left
    %aside
      %figure
        %i.ss-icon mobile
    .content
      %h3 Research from anywhere
      %p Noted is mobile-enabled, so you can manage your research from your phone or tablet.
  %section.left
    %aside
      %figure
        %i.ss-icon users
    .content
      %h3 Collaborate with anyone
      %p Invite users to Noted with ease, and allow other users to contribute to your project.
  %section.left
    %aside
      %figure
        %i.ss-icon tag
    .content
      %h3 Organize with tags
      %p All of your research is backed up automatically and kept encrypted on our servers. You and your collaborators are the only ones who can view your research.
