.index
  %section.hero
    .container
      %h2 Research together
      %p Noted allows students to organize and collaborate on their research projects. Ease the pain of creating citations and organize however you want. When you're done, share your project with the world.
      %ul
        %li= link_to "Pricing", "", class: "btn"
        %li= link_to "Join", join_url, class: "btn blue"
  %article.feature.info
    .container
      %h3 Noted is research managment
      %p Organize, collaborate, and publish your research.
  %article.feature.go
    .container
      %section
        %p <strong>Noted</strong> is a research-management tool built for students and researchers alike. Organize your sources and notes, keep track of related files, write a paper, collaborate with others, and publish your findings for others to see.
      %aside
        = link_to "Join", join_url, class: "btn blue"
