.container
  %header
    %h2 User Interface Guide
  %p This is the user interface guide for Noted. <strong>This is strong</strong>, <em>this is italic</em>, <strong><em>this is strong and italic</em></strong>.

  %h3 Buttons
  %p
    %a.btn{:href => ""} Default
    %a.btn.green{:href => ""} Green
    %a.btn.red{:href => ""} Red
    %a.btn.blue{:href => ""} Blue
  %p
    %a.btn.filled{:href => ""} Default
    %a.btn.green.filled{:href => ""} Green
    %a.btn.red.filled{:href => ""} Red
    %a.btn.blue.filled{:href => ""} Blue

  %h3 Lists
  %ul
    %li List item #1
    %li List item #2
    %li List item #3
  %ol
    %li List item #1
    %li List item #2
    %li List item #3

  %h3 Blockquotes
  %blockquote
    %p In the beginning the Universe was created. This has made a lot of people very angry and been widely regarded as a bad move.
    %p
      %cite Douglas Adams

  %h3 Project
  %p This is what a project looks like in a list (like on the user's page or a project index).
  %article.project
    %a.block{:href => ""}
      %header.info
        %h3 Last Chance to See
        %h4 Douglas Adams, Mark Carwardine
      %section.summary
        %p Join bestselling author Douglas Adams and zooligist Mark Carwardine as they take off around the world in search of exotic, endangered creatures. Hilarious and poignant—as only Douglas Adams can be—Last Chance to See is an entertaining and arresting odyssey through the Earth's magnificent wildlife galaxy.

  %h3 Heading 3
  %h4 Heading 4
  %h5 Heading 5
  %h6 Heading 6
