.container
  %header
    %h2 User Interface Guide
  %p This is the user interface guide for Noted. <strong>This is strong</strong>, <em>this is italic</em>, <strong><em>this is strong and italic</em></strong>.

  %h3 Buttons
  %p
    %a.btn{:href => ""} Default
    %a.btn.green{:href => ""} Green
    %a.btn.red{:href => ""} Red
    %a.btn.blue{:href => ""} Blue
  %p
    %a.btn.filled{:href => ""} Default
    %a.btn.green.filled{:href => ""} Green
    %a.btn.red.filled{:href => ""} Red
    %a.btn.blue.filled{:href => ""} Blue

  %h3 Lists
  %ul
    %li List item #1
    %li List item #2
    %li List item #3
  %ol
    %li List item #1
    %li List item #2
    %li List item #3

  %h3 Heading 3
  %h4 Heading 4
  %h5 Heading 5
  %h6 Heading 6
