.content
  %header.content-header
    %h3 Come back later!
  %p This part of Noted isn't quite done yet. Come back later to see the finished product! In the meantime, <a onclick="history.back()">go back to the previous page</a>.
