.page
  %header
    %h2 About
  .text
    %p
      <strong>Noted</strong> is a research-management tool built for students and researchers alike. Organize your sources and notes, keep track of related files, write a paper, collaborate with others, and publish your findings for others to see.
    %p
      It was created by <a href="http://ethnt.me">Ethan Turkeltaub</a> for a high-school senior capstone course. The site is written in <a href="http://ruby-lang.org">Ruby</a> with the <a href="http://padrinorb.com">Padrino web framework</a>, uses <a href="http://mongodb.org">MongoDB</a> (via <a href="http://mongomapper.com">MongoMapper</a>) as a database, and <a href="http://redis.io">Redis</a>, <a href="http://memcached.org">Memcached</a>, and <a href="https://www.phusionpassenger.com">Passenger</a> in production. It is hosted using <a href="http://aws.amazon.com">Amazon Web Services</a>.
    %p
      It is open-source under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0">Creative Commons Attribution Non-Commercial Share Alike 3.0 Unported License</a> on <a href="https://github.com/noted">GitHub</a>.
