.home
  .hero
    %header
      %h2 Research together
      %h3 Noted allows students to organize and collaborate on their research projects.
    %section
      %a.btn{:href => ""} Explore
      %a.btn.primary{:href => url(:users, :new)} Join
