%section.hero
  .inner
    %header
      %h2 Research together.
      %p Manage and collaborate on your research project. Made for students, by students.
    %section
      %a{:href => "#"} Explore
      %a.primary{:href => url(:users, :new)} Join
%section.features
  .inner
    %figure
      %img{:src => "/img/placeholder.jpg"}
      %figcaption
        %h3 Collaborate
        %p Much easier collaboration.
    %figure
      %img{:src => "/img/placeholder.jpg"}
      %figcaption
        %h3 Collaborate
        %p Much easier collaboration.
    %figure
      %img{:src => "/img/placeholder.jpg"}
      %figcaption
        %h3 Collaborate
        %p Much easier collaboration.
    %figure
      %img{:src => "/img/placeholder.jpg"}
      %figcaption
        %h3 Collaborate
        %p Much easier collaboration.
        