%section.hero
  .inner
    %header
      %h2 Research together.
      %p Manage and collaborate on your research project. Made for students, by students.
    %section
      %button
        %a{:href => "#"} Explore
      %button.primary
        %a{:href => "#"} Join
%section.features
  .row
    %article
      %h3 Collaborate
      %p Collaborate easily with others.
    %article
      %h3 Organize
      %p Organize everything!
    %article
      %h3 Publish
      %p Publish your work.
    %article
      %h3 Explore
      %p Look for cool projects.