.home
  %section
    %header
      %h2 Research together
      %h3 Noted allows students to organize and collaborate on their research projects. Ease the pain of creating citations and organize however you want. When you're done, share your project with the world.
    %section
      %a.btn{:href => ""} Explore
      %a.btn.primary{:href => url(:users, :new)} Join
  %section
    .row
      %article
        %header
        %img{:src => "/img/notebook.svg"}
          %h3 Organize
        %p Keep all of your project together in one place.
      %article
        %header
          %img{:src => "/img/chat.svg"}
          %h3 Collaborate
        %p Work and share with others in the community.
      %article
        %header
          %img{:src => "/img/think.svg"}
          %h3 Learn
        %p Find projects you're interested and read all about them.
      %article
        %header
          %img{:src => "/img/book.svg"}
          %h3 Publish
        %p Show your finished product to the world!
  %section.join
    %header
      %h2 What are you waiting for? It's free!
    %section
      %a.btn{:href => ""} Explore
      %a.btn.primary{:href => url(:users, :new)} Join