.hero
  %header
    %h2 Research together
    %p Noted allows students to organize and collaborate on their research projects. Ease the pain of creating citations and organize however you want. When you're done, share your project with the world.
  %section
    %a.btn.large{:href => ""} Explore
    %a.btn.primary.large{:href => url(:users, :new)} Join