= partial 'partials/flash', :locals => { :flash => flash }
#index
  .hero
    .inner
      %header
        .flash.error
          %p Noted is no longer under active development. <a href="http://blog.getnotedapp.com/post/56897882955/noted-is-no-longer-under-development">Read more here &rarr;</a>
        %h2 Research together
        %p Noted allows students to organize and collaborate on their research projects. Ease the pain of creating citations and organize however you want. When you're done, share your project with the world.
      %section
        %a.btn.large.tooltip{:href => "", :title => "Coming soon!"} Explore
        %a.btn.primary.large{:href => url(:users, :new)} Join
  .information
    %header
      %h3 Research management that works
      %p Organize, collaborate, and publish your research. <a class="tooltip" href="" title="Coming soon!">See more features.</a>
    %section
      .paragraph
        %p
          <strong>Noted</strong> is a research-management tool built for students and researchers alike. Organize your sources and notes, keep track of related files, write a paper, collaborate with others, and publish your findings for others to see.
      %aside
        %a.btn.primary{:href => url(:users, :new)} Join
