.home
  %section
    %header
      %h2 Research together
      %h3 Noted allows students to organize and collaborate on their research projects.
    %section
      %a.btn{:href => ""} Explore
      %a.btn.primary{:href => url(:users, :new)} Join
  %section
    .row
      %article
        %header
          %img{:src => "/img/placeholder.jpg"}
          %h3 Organize
        %p Foo to the bar to the foo.
      %article
        %header
          %img{:src => "/img/placeholder.jpg"}
          %h3 Organize
        %p Foo to the bar to the foo.
      %article
        %header
          %img{:src => "/img/placeholder.jpg"}
          %h3 Organize
        %p Foo to the bar to the foo.
      %article
        %header
          %img{:src => "/img/placeholder.jpg"}
          %h3 Organize
        %p Foo to the bar to the foo.
  %section
    .pricing
      %section.induvidual
        %article
          %h3 Free
        %article 
          %h3 Pro
      %section.institution
        %article
          %h3 Small
        %article
          %h3 Medium
        %article
          %h3 Large
