#index
  .hero
    .contain
      %header
        %h2 Research together
        %p Noted allows students to organize and collaborate on their research projects. Ease the pain of creating citations and organize however you want. When you're done, share your project with the world.
      %section
        %a.btn.large{:href => ""} Explore
        %a.btn.primary.large{:href => ""} Join
  .information
    %header
      %h3 Research management that doesn't suck
      %p Organize, collaborate, and publish your research. <a href="">See more features.</a>
    %section
      .paragraph
        %p
          <strong>Noted</strong> corpus callosum? Sea of Tranquility? Billions upon billions permanence of the stars concept of the number one, made in the interiors of collapsing stars permanence of the stars? Star stuff harvesting star light decipherment at the edge of forever Hypatia a very small stage in a vast cosmic arena venture.
      %aside
        %a.btn.primary Join