.page
  %header
    %h2 Roadmap
  .text
    %p Right now, Noted is in beta. This means that it is in a place where it works enough, but it's not entirely stable. It's ready for limited use by a small amount of people, but it's not where it can be used by everyone.
    %p Here's what we're working on in the near future.
    %ul
      %li Speed. It's not fast enough.
      %li Adding more source types (websites, journals, databases, etc).
      %li More ways to sort notes.
      %li Search through your notes (both through the title and the body).
      %li The ability to add your own avatars (not through <a href="http://gravatar.com">Gravatar</a>).
      %li Keyboard shortcuts (tab to select notes or sources, then enter to select, etc).
      %li More information about a source (grab information from Amazon, or Google Books, with the option to buy the book).
      %li Email notifications of changes to your project, or if you're added to a project as a collaborator.
      %li Integrate Dropbox (drag a file onto your project to save it &mdash; set it up with your collaborators, and everyone will have the same files all the time).
      %li Google Drive support.
      %li Search the whole site.
      %li Explore interesting projects.
      %li A dashboard to see the changes that have been made to your projects.
      %li Improve the user page to see the activity by that user.
      %li Research tools &mdash; search for sources in Google Scholar, EBSCO, and other databases.
      %li More documentation on how to do things.
      %li Better support (send in tickets).
      %li Paid plans with more features.
      %li School- or district-wide plans for use by many students within a school.
      %li Purchase a copy of Noted to set up on your own server.
      %li Make the site responsive &mdash; you should be able to use the site from any device, whether that be a computer, your smartphone, or your tablet.
      %li Better error handling &mdash; if something goes wrong, you should know about it.
      %li Live editing of notes with multiple people (Google Drive-like functionality).
      %li See the difference between changes in notes and sources.
      %li Public and authenticated API.
