.page
  %header
    %h2 Support
  .text
    %p Need help? You have some options.
    %ul
      %li Email us at <a href="mailto:hello@getnotedapp.com">hello@getnotedapp.com</a>.
      %li Tweet at us at <a href="http://twitter.com/getnotedapp">@getnotedapp</a>.
      %li If you're a nerd like us, <a href="http://github.com/noted/noted/issues/new">create an issue on GitHub</a>.
