!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}

    %meta{:content => "Research together.", :name => "description"}
    %meta{:content => "Noted.", :name => "author"}

    %title Noted &mdash; Administration

    %link{:href => "/favicon.ico", :rel => "icon"}
    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/admin/i/application.css", :rel => "stylesheet"}

  %body
    %header
      %nav.top-bar
        %ul.title-area
          / Title Area
          %li.name
            %h1
              %a{:href => "#"} Noted.
          / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          / Left Nav Section
          %ul.left
            %li.divider
            %li.active
              %a{:href => url(:users, :index)} Users
            %li.divider
          %ul.right
            %li.divider.hide-for-small
            %li.has-dropdown
              %a{:href => "#"}= current_user.name
              %ul.dropdown
                %li
                  %a{:href => url(:users, :view, :id => current_user.id)} Account
                %li
                  %a{:href => Noted::Web.url(:sessions, :destroy)} Logout
    = yield

    %script{:src => "/admin/i/application.js"}
