/*
	Noted.
		file: css/application.css
*/

// TO-DO: Organize all of this somehow.

@import "lib/base";


/*
	= Appendix
		I. Media Queries
		II.
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */ }

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */ }


/*
	II. Universal
*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: $base;
	color: $text;
	font: 200 16px/1.75em $serif;
}

a {
	color: $red;
	text-decoration: none;
}

a.btn, button, input[type="submit"], input[type="button"] {
	@include border-radius(2px);

	background: #aaa;
	border: none;
	color: $base;
	cursor: pointer;
	font-family: $sans-serif;
	font-weight: 700;
	font-size: 1em;
	padding: 0.5em 1em;

	&:hover {
		background: lighten(#aaa, 5%);
	}

	&.large {
		font-size: 1.15em;
	}

	&.primary {
		background: $blue;

		&:hover {
			background: lighten($blue, 3%);
		}
	}

	&.green {
		background: $green;

		&:hover {
			background: lighten($green, 3%);
		}
	}
}

h1 {
	font-size: 1.15em;
	font-weight: 600;
	letter-spacing: 1px;
	text-shadow: 0 2px 0 rgba(darken($red, 10%), 0.5);
	text-transform: uppercase;

	a {
		color: #fff;

		&:hover {
			color: darken(#fff, 5%);
		}
	}
}

h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
}

h2 {
	color: lighten($text, 20%);
	font-size: 1.75em;
	font-weight: bold;
}

img {
	max-width: 100%;
}

#contain {
	min-height:100%;
	position:relative;
}


/*
	III. Header
*/

#contain > header {
	background: $red;
	border-bottom: 1px solid darken($red, 5%);
	
	& > section {
		@include container;

		padding: 2em 0;
	}

	hgroup {
		@include span-columns(6);
	}

	nav {
		font-size: 0.85em;
		
		a {
			color: #fefefe;

			&:hover {
				color: darken(#fefefe, 5%);
			}
		}

		section {
			@include span-columns(12);

			&:last-child {
				@include span-columns(6 omega);

				ul {
					float: right;
				}
			}

			li {
				display: inline-block;

				& + li {
					margin-left: 2em;
				}
			}
		}
	}
}


/*
	IV. Main
*/

#main {
	margin-top: 3em;
	padding-bottom: 5em;

	.hero { /* / */
		@include container;

		padding: 2.5em 0 3em;

		header {
			@include clearfix;

			margin-bottom: 3em;

			h2 {
				margin-bottom: 0.5em;
			}

			p {
				@include span-columns(18 omega);
				@include suffix(6);

				color: #aaa;
				font-weight: 300;
				font-size: 1.15em;
			}
		} // @
	}

	.user { /* /:user */
		@include container;

		& > aside {
			@include span-columns(5);
			@include suffix(1);

			header {
				@include clearfix;

				h2 {
					font-size: 1.5em;
				}
			}

			section {
				border-top: 1px solid #efefef;
				font-size: 0.85em;
				margin-top: 1em;
				padding-top: 1em;
			}
		}

		& > section {
			@include span-columns(18 omega);

			h3 {
				font-weight: bold;
				font-size: 1.15em;
			}
		}
	}

	.join { /* /join */
		@include container;

		form {

		}
	}

	.login {
		text-align: center;
	}
}


/*
	V. Footer
*/

#contain > footer {
	background: $grey;
	border-top: 1px solid #e0e0e0;
	bottom: 0;
	color: #a0a0a0;
	height: 8em;
	position: absolute;
	width: 100%;

	section {
		@include container;

		padding: 3em 0;
		text-align: center;
	}
}