/*
	Noted.
		file: css/application.css
*/

@import "lib/base";

$red: #db6363;
$blue: #63a9db;


/*
	= Appendix
		I. Media Queries
		II.
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */ }

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */ }


/*
	II. 
*/

body {
	background: #fff;
	color: #444;
	font: 16px/1.75em $sans-serif;
}

a {
	color: $red;
	text-decoration: none;

	&:hover {
		color: darken($red, 10%);
	}
}

button {
	background: none;
	border: none;
	font-family: $sans-serif;

	a {
		display: block;
		height: 100%;
		width: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 2em;
}

img {
	max-width: 100%;
}


/*
	III. Header
*/

#contain > header {
	border-bottom: 1px solid #efefef;
	border-top: 5px solid $red;
	padding: 1.5em 0;

	hgroup {
		@include span-columns(7);
	}

	nav {
		@include span-columns(17 omega);

		font-size: 0.85em;
		font-weight: 600;
		text-transform: uppercase;

		ul {
			display: inline-block;

			&:last-child {
				float: right;
			}

			li {
				display: inline-block;
				vertical-align: middle;

				& + li {
					margin-left: 2em;
				}
			}
		}
	}

	.inner {
		@include container;
	}
}



/*
	IV. Main
*/

#main {
	.hero {
		@include text-shadow(1px 1px 1px rgba(#333, 0.5));
		
		background: #333 url("/img/moleskine-blurred.jpg") center center;
		color: #fff;
		text-align: center;

		h2 {
			font: 700 2.5em/1em $sans-serif;
			letter-spacing: 1px;
			margin-bottom: 0.25em;
			text-transform: uppercase;
		}

		section {
			margin-top: 3em;

			a {
				@include border-radius(3px);
				@include box-shadow(rgba(255, 255, 255, 0.2) 0 1px 0,inset rgba(255, 255, 255, 0.2) 0 1px 0);
				@include background(
					linear-gradient(top, white, darken(white, 3%))
				);
				@include text-shadow(rgba(0, 0, 0, 0.15) 0 -1px 0);
				
				border: 1px solid rgba(#333, 0.5);
				display: inline-block;
				font-size: 1.05em;
				font-weight: 600;
				padding: 1.25em 2.5em;
				text-transform: uppercase;
				width: 20% !important;

				&:hover {
					@include background(
						linear-gradient(top, white, darken(white, 2.5%))
					);
				}

				&.primary {
					@include background(
						linear-gradient(top, lighten($red, 5%), $red)
					);
					@include text-shadow(rgba(0, 0, 0, 0.35) 0 -0.5px 0);

					color: #fff;

					&:hover {
						@include background(
							linear-gradient(top, lighten($red, 3), darken($red, 1%))
						);
					
						color: darken(#fff, 5%);
					}
				}
			}
		}

		.inner {
			padding-bottom: 5em;
			padding-top: 6em;
		}
	}

	.features {
		background: #efefef;
		padding: 5em 0;

		figure {
			@include span-columns(6);

			&:last-child {
				@include omega;
			}

			figcaption {
				text-align: center;
			}
		}

		.inner {
			@include container;
		}
	}

	.dashboard {
		margin: 3em 0;
	}

	.join {
		@include container;
	}
}


/*
	V. Footer
*/

#contain > footer {
	border-top: 1px solid #efefef;
	padding-top: 4em;
	padding-bottom: 4em;

	section {
		&.links {
			@include container;

			aside {
				@include span-columns(8);

				h3 {
					font-size: 1.25em;
				}
			}

			nav {
				@include span-columns(4);

				font-size: 0.85em;

				&:last-child {
					@include omega;
				}

				header {
					border-bottom: 1px solid #efefef;
					margin-bottom: 0.5em;
				}
			}
		}
	}
}