/*
	Noted.
		file: css/application.scss
*/

@import "lib/base";

/*
	= Appendix
		I. Universal
*/


/*
	I. Universal
*/

body {
	background: $base;
	color: $text;
	font: 300 16px/1.5em $serif;
}

a {
	color: $red;
	text-decoration: none;

	&:hover {
		color: $dark-red;
	}
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-size: 1.25em;
	text-shadow: 0 2px 0 rgba(darken($red, 10%), 0.5);
	text-transform: none;
}

h2 {
	font-size: 2em;
	line-height: 1em;
	letter-spacing: 1px;
}

h3 {
	font-size: 1.35em;
	text-transform: none;
}

img {
	max-width: 100%;
}

strong {
	font-weight: 600;
}

.contain {
	@include container;
}


/*
	II. Header
*/

body > header {
	background: $red;

	a {
		color: lighten($grey, 5%);

		&:hover {
			color: $grey;
		}
	}

	hgroup {
		@include span-columns(6);
	}

	nav {
		font: 0.85em $sans-serif;

		li {
			text-shadow: 0 1px 0 rgba(darken($red, 10%), 0.5);
		}

		section {
			&:first-child {
				@include span-columns(12);

				margin-top: 0.35em;

				li {
					padding-right: 2em;
				}
			}

			&:last-child {
				@include span-columns(6 omega);

				ul {
					float: right;

					li {
						padding-left: 0.75em;
					}
				}
			}

			li {
				display: inline-block;
			}
		}
	}

	.contain {
		padding: 1.5em 0;
	}
}


/*
	III. Main
*/

#main {

}


/*
	IV. Footer
*/

body > footer {
	background: $grey;
	color: darken($grey, 20%);
	font: 0.85em $sans-serif;
	padding: 2em 0;
	text-align: center;

	ul {
		margin-bottom: 1em;

		li {
			display: inline-block;

			& + li {
				padding-left: 1em;
			}
		}
	}
}