/*
	Noted.
		file: css/application.css.scss
*/

@import "lib/base";

/*
	= Appendix
		I. Universal
		II. Header
		III. Main
		IV. Footer
*/


/*
	I. Universal
*/

body {
	background: $base;
	color: $text;
	font: 300 16px/1.5em $sans-serif;
	text-rendering: optimizeLegibility;
}

a {
	color: $red;
	text-decoration: none;

	&:hover {
		color: $dark-red;
	}
}

blockquote {
	border-left: 3px solid $grey;
	color: $deep-grey;
	padding-left: 1em;

	& + p {
		margin-top: 1em
	}
}

em, i {
	font-style: italic;

	&.subtle {
		color: $dark-grey;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

h1 {
	font-size: 1.25em;
	text-shadow: 0 1px 0 rgba(darken($red, 10%), 0.2);
	text-transform: none;

	span {
		color: lighten($red, 15%);
		font-size: 0.75em;
	}
}

h2 {
	font-size: 2em;
	line-height: 1em;
	letter-spacing: 1px;
}

h3 {
	font-size: 1.35em;
	text-transform: none;

	span {
		color: $dark-grey;
	}
}

img {
	max-width: 100%;
}

strong, b {
	font-weight: 600;
}

.contain {
	@include container;
}


/*
	II. Header
*/

body > header {
	background: $red;

	a {
		color: $base;

		&:hover {
			color: $grey;
		}
	}

	hgroup {
		@include span-columns(6);
	}

	nav {
		font: 0.85em $sans-serif;

		section {
			&:first-child {
				@include span-columns(10);

				margin-top: 0.35em;

				li {
					padding-right: 2em;
				}
			}

			&:last-child {
				@include span-columns(8 omega);

				ul {
					float: right;

					li {
						padding-left: 0.75em;
					}
				}
			}

			li {
				display: inline-block;
			}

			a.img {

				img {
				border: 3px solid $blue-grey;
					@include border-radius(50%);

					max-width: 1.75em;
					position: relative;
					top: 0.75em;
				}
			}
		}
	}

	.contain {
		padding: 1.5em 0;
	}
}


/*
	III. Main
*/

#main {

}


/*
	IV. Footer
*/

body > footer {

	background: $blue-grey;
	color: $deep-blue;
	margin-top: 8em;
	font: 0.85em $sans-serif;
	padding: 6em 0;
	text-shadow: 0 1px 0 rgba(lighten($blue-grey, 10%), 0.5);
	text-align: center;

	ul {
		margin-bottom: 2em;

		li {
			display: inline-block;

			& + li {
				padding-left: 1em;
			}
		}
	}
}
