/*
	Noted.
		file: css/lib/layouts/sessions.scss
*/

@import "lib/base";

$total-columns: 24;
$column-width: 1em;
$gutter-width: 0.25em;
$grid-padding: $gutter-width;

/*
	= Appendix
		I. Universal
		II. Header
		III. Main
*/


/*
	I. Universal
*/

body {
	background: lighten($grey, 5%);
	color: $text;
	font: 300 16px/1.5em $sans-serif;
}

a {
	color: lighten($grey, 5%);
	text-decoration: none;

	&:hover {
		color: $grey;
	}
}

form {
	input[type="email"], input[type="password"] {
		background: lighten($grey, 4%);
		border: none;
		width: 65%;

		&:focus {
			background: $base;
			border: none;
		}
	}

	nav {
		margin: 0 auto;
		width: 45%;

		li {
			display: inline-block;

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}
}

h1 {
	font: bold 1.25em $sans-serif;
	text-shadow: 0 2px 0 rgba(darken($red, 10%), 0.5);
}

#contain {
	@include border-radius(2px);
	@include container;

	background: $dark-blue-grey;
	margin-top: 4em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

p + p {
	margin-top: 1em;
}

/*
	II. Header
*/

header {
	background: $red;

	padding: 1.5em;
}


/*
	III. Main
*/

#main {
	margin: 3em 0;

	form {
		input:first-child {
			margin-bottom: 0.5em;
		}

		nav {
			@include clearfix;

			margin-top: 1.5em;
		}
	}
}
