%footer
  .inner
    %section
      %nav
        %header
          %h3 Noted
        %ul
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Digication
          %li
            %a{:href => "#"} Support
      %nav
        %header
          %h3 Noted
        %ul
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Digication
          %li
            %a{:href => "#"} Support
      %nav
        %header
          %h3 Noted
        %ul
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Digication
          %li
            %a{:href => "#"} Support
      %nav
        %header
          %h3 Noted
        %ul
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Digication
          %li
            %a{:href => "#"} Support
    %section
      %p Copyright.