%header
  .inner
    %hgroup
      %h1
        %a{:href => "#"} Noted.
    %nav
      %ul
        %li
          %a{:href => "#"} Features
        %li
          %a{:href => "#"} Pricing
        %li
          %a{:href => "#"} Documentation
        %li
          %a{:href => "#"} Support
      %ul
        %li
          %a{:href => url(:users, :new)} Join
        %li
          %a{:href => "#"} Sign In