!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    %meta{:content => "Research together.", :name => "description"}
    %meta{:content => "Noted.", :name => "author"}

    %title Noted.

    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/css/application.css", :rel => "stylesheet"}

    %script{:src => "//use.typekit.net/rau7fcj.js", :type => "text/javascript"}
    
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #contain
      = partial "layouts/partials/header"
      
      #main{:role => "main"}
        = yield
      
      = partial "layouts/partials/footer"
    %script{:src => "http://code.jquery.com/jquery.min.js"}
    %script{:src => "jsc/application.js"}
    :javascript
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];